/*Переменные*/
$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$table-width: 768px;
$desktop-width: 1200px;

@font-face {
  font-weight: normal;
  font-family: 'PT Sans Narrow';
  src: url(../fonts/PTSansNarrow-Regular.ttf);
}

@font-face {
  font-weight: bold;
  font-family: 'PT Sans - Narrow Bold';
  src: url(../fonts/PTSansNarrow-Bold.ttf);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;

  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.5;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #f7f4f1;
  font-style: normal;

  background-color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------BLOCK PAGE HEADER---------------------------------------*/

.page-header--wrapper {
  display: grid;
}

.page-header--logo {
  display: block;

  padding: 15px;

  text-align: center;
}

.page-header--logo img {
  width: 250px;
  height: auto;
}

.main-nav {
  position: relative;

  min-height: 51px;

  background-color: #826550;
}

.main-nav--toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  background-color: #6a4d38;

  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: #624530;
  }
}

.main-nav--closed .main-nav--toggle::before {
  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;

  content: "";
}

.main-nav--closed .main-nav--toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav--toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;
    background-color: #ffffff;

    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}


.main-nav--list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-list {
 font-weight: bold;
}

.site-list--item a {
  display: block;
  padding: 11px 21px 11px 21px;

  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  font-family: "PT Sans - Narrow Bold", sans-serif;
  text-transform: uppercase;

  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}

.site-list--item a[href] {
  &:hover {
    background-color: #755a46;
    border-top-color: #755a46;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a4d38;
    border-top-color: #6a4d38;
  }
}


.user-list--login {
  position: relative;

  display: block;
  padding: 17px 21px 17px 49px;

  line-height: 1;
  color: #ffffff;
}

.user-list--login-icon::before {
  position: absolute;
  top: 18px;
  left: 21px;

  width: 16px;
  height: 16px;

  background-image: url(../img/login.png);
  background-repeat: no-repeat;
  content: "";
}


@media (max-width: 660px) {
  .main-nav--closed .site-list--item {
    display: none;

    &--active {
      display: block;
    }
  }
  .main-nav--closed .site-list--item--active a {
     padding-left: 70px;
     padding-right: 70px;

     text-align: center;
  }

  .main-nav--closed .user-list--item {
    display: none;
  }

  .main-nav--opened .site-list--item a {
    box-shadow: inset 4px 0 7px -4px #3e251b;
  }

  .main-nav--opened .main-nav--wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;

    min-height: 260px;

    background-color: #6a4d38;
  }

}

@media (min-width: 660px) {
  .page-header {
    background-image: url(../img/back-desktop.jpg);
    background-position: center 72px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-nav {
    order: -1;

    background-color: #000000;
  }

  .main-nav--wrapper {
    display: flex;

    width: 100%;
  }

  .main-nav--toggle {
    display: none;
  }

  .site-list {
    display: flex;
  }

  .user-list {
    display: flex;
  }
}

@media (min-width: 660px) and (max-width: 1023px) {
  .page-header--wrapper {
    grid-gap: 2px;
  }

  .page-header--logo {
    padding-top: 0;
    padding-bottom: 255px;
  }

  .page-header--logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 40px auto 0 auto;
  }

  .main-nav--wrapper {
    justify-content: start;
  }

  .site-list {
    justify-content: space-between;
    flex: 0 1 585px;
  }

  .user-list {
    justify-content: center;
    flex: 0 1 55px;
  }

  .site-list--item a {
    padding-top: 21px;
    padding-left: 0;
    padding-bottom: 21px;
    padding-right: 0;

    background: none;
    border: none;
  }

  .site-list--item--active a {
    color: #826550;

    box-shadow: 0 3px #826550;
  }

  .site-list--item a[href] {
    &:hover {
      color: #826550;

      background-color: #000000;
    }

    &:active {
      color: #ffffff;

      background-color: #000;
      opacity: 0.3;
    }
  }

  .user-list--item a {
    padding: 26px 21px 26px 60px;
  }

  .user-list--login-icon {
    font-size: 0;

    &::before {
      top: 29px;
      left: 33px;
    }
  }

}

@media (min-width: 1024px) {
  .page-header--logo {
    padding-top: 0;
  }

  .page-header--logo img {
    width: 370px;
    height: auto;
  }

  .page-header--wrapper {
    grid-gap: 55px;
  }

  .page-header--logo {
    padding-bottom: 485px;
  }

  .main-nav--wrapper {
    justify-content: space-between;
  }

  .site-list {
    justify-content: space-around;
    flex: 0 1 750px;
  }

  .site-list--item {
    flex: 1 1 100%;
  }

  .site-list--item a {
    padding-top: 21px;
    padding-left: 0;
    padding-bottom: 21px;
    padding-right: 0;

    text-align: center;

    background: none;
    border: none;
  }

  .user-list--item a {
    font-family: "PT Sans - Narrow Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .site-list--item a[href],
  .user-list--item a[href] {
    &:hover {
      color: #000;

      background-color: #fff;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);

      background-color: #fff;
    }
  }

  .user-list {
    justify-content: center;
    flex: 0 1 126px;
  }

  .user-list--login {
    padding: 27px 21px 27px 49px;
  }

  .user-list--login-icon::before {
    top: 28px;
  }

  .user-list--login:hover > .user-list--login-icon::before {
    background-image: url(../img/login-desktop-hover.png);
  }
}

.page-main {
  margin: 0;

  background-color: #242424;
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------BLOCK STATISTIC---------------------------------------*/

.stats {
  display: grid;
}

.stats--list {
  display: contents;
}

.stats {
  color: black;

  background-color: $bg-lightgrey;
}

.stats--header {
  padding-top: 27px;
  padding-left: 37px;
  padding-bottom: 23px;
  padding-right: 37px;

  color: #000000;

  background-color: #ffffff;
}

.stats--slogan,
.stats--intro,
.stats--legend,
.stats--value,
.stats--field {
  margin: 0;
  padding: 0;
}

.stats--slogan {
  margin-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 30px;
  line-height: 1;
  font-family: "PT Sans - Narrow Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.stats--intro {
  font-size: 20px;
  text-align: center;
}

.stats--legend--top {
  display: none;
}

.stats--item:nth-child(1) {
  background-color: #404040;
}
.stats--item:nth-child(2) {
  background-color: #4e4e4e;
}
.stats--item:nth-child(3) {
  background-color: #353535;
}
.stats--item:nth-child(4) {
  background-color: #404040;
}

.stats--item {
  display: flex;
  justify-content: space-between;

  padding: 20px;

  color: #f7f4f1;
}

.stats--value {
  position: relative;

  font-size: 40px;
  line-height: 1;
  font-family: "PT Sans - Narrow Bold", sans-serif;
}

.stats--value sup {
  position: absolute;
  right: -0.5em;
  font-size: 25px;
}

.stats--field {
  text-align: right;
  line-height: 1;
}
.stats--legend-wrapper {
  background-color: #242424;
}
.stats--legend {
  position: relative;

  margin: 0 auto;

  width: fit-content;
  color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  text-align: center;
}

.stats--legend sup {
  position: absolute;
  top: 15%;
  left: -3%;
}

.stats--legend--bottom {
  margin-top: 10px;
  margin-bottom: 14px;
}

@media (min-width: 660px) {
  .page-main {
    background-color: #353535;
  }

  .stats {
    position: relative;
    top: -185px;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats--header {
    padding-top: 33px;
    padding-right: 40px;
    padding-bottom: 27px;
    padding-left: 40px;
  }

  .stats--header {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &::before {
      position: absolute;
      top: 27px;
      left: -15px;

      border: 15px solid transparent;
      border-right-color: #ffffff;
      content: "";
      transform: rotate(135deg);
    }
  }

  .stats--slogan {
    margin-right: 108px;
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;

    font-size: 40px;
    line-height: 1;
    text-align: left;
    text-transform: none;
  }

  .stats--intro {
    padding-left: 0;
    padding-right: 0;

    font-size: 20px;
    line-height: 27px;
    text-align: left;
    text-transform: none;
  }

  .stats--legend--top {
    display: block;

    margin-top:  0;
    margin-right:  0;
    margin-bottom:  0;
    margin-left: 1.5%;

    color: rgba(0, 0, 0, 0.3);
  }

  .stats--legend--bottom {
    display: none;
  }

  .stats--item {
    flex-wrap: wrap;

    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 35px;
    padding-left: 37px;
  }

  .stats--value {
    flex-basis: content;

    font-size: 72px;
  }

  .stats--field {
    flex: 1 1 100%;

    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }

  .stats--field br{
    display: none;
  }

  .stats--value sup {
    position: absolute;
    right: -0.5em;
    font-size: 35px;
  }
}

@media (min-width: 660px) and (max-width: 1023px) {

  .stats--header {
    grid-column-start: 1;
    grid-column-end: 3;

  }
  .stats--slogan,
  .stats--intro {
    flex: 0 1 205px;
  }
}

@media (min-width: 1024px) {
  .stats {
    top: -159px;

    grid-template-columns: repeat(3, 1fr);
  }

  .stats--header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    padding-left: 40px;
    padding-right: 68px;
  }

  .stats--slogan {
    margin-right: 0;
  }
}

/*-------------------------------------------------------------------------------------------*/
/*------------------------------------BLOCK ADVANTAGES---------------------------------------*/

.advantages--wrapper {
  padding-top: 144px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 0;

}

.advantages--list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style-type: none;
}


.advantages--item {
  position: relative;
}

.advantages--title {
  margin: 0;
  padding: 0;

  color: #f7f4f1;
  font-size: 30px;
  font-family: "PT Sans - Narrow Bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.advantages--description {
  margin: 0;
  padding-top: 5px;
  padding-right: 43px;
  padding-left: 43px;


  color: #f7f4f1;
  font-size: 20px;
  line-height: 27px;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
}

.advantages--icon--fast::before {
  position: absolute;
  top: -119px;
  left: calc(50% - 47px);

  width: 95px;
  height: 94px;
  background-image: url(../img/advantage-1.png);

  content: "";
}

.advantages--icon--cool::before {
  position: absolute;
  top: -119px;
  left: calc(50% - 47px);

  width: 95px;
  height: 94px;
  background-image: url(../img/advantage-2.png);

  content: "";
}

.advantages--icon--price::before {
  position: absolute;
  top: -119px;
  left: calc(50% - 47px);

  width: 95px;
  height: 94px;
  background-image: url(../img/advantage-3.png);

  content: "";
}

.advantages--toggles {
  display: flex;
  justify-content: center;

  margin-top: 23px;
  margin-bottom: 0;
}

.slider--toggle--advantages:nth-child(n+2) {
  margin-left: 35px;
}

.slider--toggle--advantages {
  display: block;
  width: 16px;
  height: 16px;

  transform: rotate(-45deg);

  border: 2px solid #ffffff;
}

.slider--toggle--advantages:hover,
.slider--toggle--advantages:active {
  background-color: #ffffff;
}

.active {
  background-color: #ffffff;
}

.delta--background {
  margin-bottom: 11%;
  padding: 3% 2rem 0;
  background-color: #242424;
  position: relative;
}

.delta--background::after {
  content: '';
  padding-top: 11%;

  background: linear-gradient(to right top, #f8f5f2 49%, #242424 51%)left / 50.025% 100% no-repeat,
  linear-gradient(to left top, #f8f5f2 49%, #242424 51%)right / 50.025% 100% no-repeat;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

@media (min-width: 660px) {

  .advantages--toggles {
    display: none;
  }

  .advantages--item {
    display: block !important;
  }

  .delta--background {
    margin-bottom: 5%;
    padding: 2% 2rem 0;
    background-color: #353535;
  }

  .delta--background::after {
    padding-top: 5%;

    background: linear-gradient(to right top, #f8f5f2 49%, #353535 51%)left / 50.025% 100% no-repeat,
    linear-gradient(to left top, #f8f5f2 49%, #353535 51%)right / 50.025% 100% no-repeat;
  }

}

@media (min-width: 660px) and (max-width: 1023px) {
  .advantages {
    margin-top: -185px;
  }

  .advantages--wrapper {
    padding-top: 0;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 0;

  }

  .advantages--list {
    flex-direction: column;
  }

  .advantages--item {
    padding-top: 35px;
    padding-bottom: 36px;
    padding-left: 125px;
  }

 .advantages--item {
    border-bottom: 1px solid rgba(130, 101, 80, 0.3);
  }

  .advantages--item:last-child {
    border: none;
  }

  .advantages--icon--fast::before {
    top: 47px;
    left: -2px;
  }

  .advantages--icon--cool::before {
    top: 46px;
    left: -2px;
  }

  .advantages--icon--price::before {
    top: 43px;
    left: -2px;
  }

  .advantages--description,
  .advantages--title {
    padding-left: 0;
    padding-right: 0;

    text-align: left;
  }

}



@media (min-width: 1024px) {
  .advantages {
    margin-top: -105px;
  }

  .advantages--wrapper {
    padding-top: 0;
  }


  .advantages--item {
    padding-top: 144px;

    flex: 1 1 320px;
  }

  .advantages--item {
    border-right: 1px solid rgba(130, 101, 80, 0.3);
  }

  .advantages--item:last-child {
    border: none;
  }

  .advantages--icon--fast::before,
  .advantages--icon--cool::before,
  .advantages--icon--price::before {
    top: 24px;
  }

  .delta--background {
    margin-bottom: 5.5%;
  }

  .delta--background::after {
    padding-top: 6%;
  }

}

/*-------------------------------------------------------------------------------------------*/
/*------------------------------------BLOCK NEWS---------------------------------------------*/


.news {
  padding: 0;

  color: black;

  border-bottom: 1px solid #e5ddd5;

  background-color: $bg-lightgrey;
}

.news--wrapper {
  position: relative;

  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 20px;
}

.news--title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans - Narrow Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.news--list {
  display: grid;

  margin: 0;

  padding: 0;

  list-style-type: none;
}

.news--item {
  display: flex;

  padding-top: 11px;
  padding-bottom: 23px;
}


.news--item:first-child {
  border-bottom: 1px solid rgba(130, 101, 80, 0.3);
}

.news--item:nth-child(n + 3) {
  display: none;
}

.news--text {
  margin: 0;
  margin-left: 20px;
}

.news--date {
  position: relative;
  flex: 1 0 52px;

  margin-top: 12px;
  padding-top: 7px;

  height: 50px;

  color: #ffffff;
  font-size: 16px;
  line-height: 0.4;
  text-align: center;

  background-color: #000000;
}

.news--day {
  font-size: 30px;
  line-height: 1;
}


.news--date::after {
  content: '';
  padding-top: 18%;

  background: linear-gradient(to right top, #f8f5f2 44%, #000000 51%)left / 50.025% 100% no-repeat,
  linear-gradient(to left top, #f8f5f2 44%, #000000 51%)right / 50.025% 100% no-repeat;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.news--to-all {
  margin-right: auto;
  margin-left: auto;
}

.button {
  display: block;

  width: 280px;
  height: 50px;

  color: #000000;
  font-size: 18px;
  line-height: 50px;
  font-family: "PT Sans - Narrow Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #e5ddd5;
}


@media (min-width: 660px) {
  .news--wrapper {
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 32px;
    padding-left: 0;
  }

  .news--title {
    margin-bottom: 55px;

    font-size: 40px;
    text-align: left;
  }

  .news--list {
    grid-template-columns: repeat(2, 1fr);
  }

  .news--item {
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 0;
  }

  .news--item:first-child {
    border-bottom: none;
  }

  .news--to-all {
    position: absolute;
    top: 40px;
    right: 0;
  }

  .button {
    width: 160px;
  }

}

@media (min-width: 660px) and (max-width: 1023px) {
  .news--list {
    grid-gap: 0;
  }
}

@media (min-width: 1024px) {
  .news--wrapper {
    padding-top: 68px;
    padding-bottom: 40px;
  }

  .news--list {
    grid-template-columns: repeat(3, 1fr);
  }

  .news--item:nth-child(3) {
    display: flex;
  }

  .news--to-all {
    top: 60px;
  }

  .news--title {
    margin-left: 71px;
  }
}

/*-------------------------------------------------------------------------------------------*/
/*------------------------------------BLOCK REVIEWS---------------------------------------------*/


.reviews {
  color: black;

  background-color: $bg-lightgrey;
}

.reviews--wrapper {
  position: relative;

  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 9%;
  padding-left: 20px;
}

.reviews--title {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans - Narrow Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.reviews--write {
  display: none;
}

.reviews--item {
  display: flex;
  margin: 0;
  margin-top: 27px;
}

.reviews--author-picture {
  margin-top: 7px;
  margin-bottom: 0;
  flex: 0 0 50px;
}

.reviews--text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;

  font-size: 18px;
  line-height: 1.5;

}

.reviews--author-name {
  display: block;

  margin-bottom: 8px;

  font-size: 24px;
  line-height: 27px;
  font-family: "PT Sans - Narrow Bold", sans-serif;
  font-style: normal;
}

.reviews--prev,
.reviews--next {
  display: none;
}

.reviews--toggles {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.slider--toggle--review:nth-child(n+2) {
  margin-left: 35px;
}

.slider--toggle--review {
  display: block;
  width: 16px;
  height: 16px;

  transform: rotate(-45deg);

  border: 2px solid #000000;
}

.slider--toggle--review:hover,
.slider--toggle--review:active {
  background-color: #000000;
}

.activeTwo {
  background-color: #000;
}

@media (min-width: 660px) {
  .reviews--write {
    position: absolute;
    top: 37px;
    right: 0;

    display: block;
  }

  .reviews--write:hover,
  .reviews--write:focus,
  .news--to-all:hover,
  .news--to-all:focus {
    cursor: pointer;
    transition: 0.6s ease;
    box-shadow: 10px 10px 20px rgba(201, 197, 197, 0.8);
  }

  .reviews--prev,
  .reviews--next {
    position: absolute;
    top: -0.5%;
    display: block;

    width: 50px;
    height: 101%;

    background-color: #f8f5f2;
  }


  .reviews--prev:hover,
  .reviews--prev:focus {
    cursor: pointer;
    transition: 0.6s ease;
    box-shadow: -10px 10px 20px rgba(201, 197, 197, 0.8);
  }

  .reviews--prev:active {
    transition: 0.6s ease;
    box-shadow: inset -10px 10px 20px rgba(201, 197, 197, 0.8);
  }


  .reviews--next:hover,
  .reviews--next:focus {
    cursor: pointer;
    transition: 0.6s ease;
    box-shadow: 10px 10px 20px rgba(201, 197, 197, 0.8);
  }

  .reviews--next:active {
    transition: 0.6s ease;
    box-shadow: inset 10px 10px 20px rgba(201, 197, 197, 0.8);
  }


  .reviews--prev--small {
    font-size: 0;
  }

  .reviews--wrapper {
    padding-top: 45px;
    padding-right: 0;
    padding-bottom: 73px;
    padding-left: 0;
  }

  .reviews--title {
    margin-bottom: 50px;

    font-size: 40px;
    text-align: left;
  }

  .reviews--list {
    position: relative;

    border: 1px solid #e5ddd5;
  }

  .reviews--item {
    margin-top: 0;
  }


}

@media (min-width: 660px) and (max-width: 1023px) {
  .reviews--list {
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    padding-left: 30px;

    width: 540px;
  }

  .reviews--text {
    margin-left: 30px;
  }

  .reviews--author-picture {
    display: flex;
    flex: 0 0 80px;

    background-color: black;

    border-radius: 50%;

    overflow: hidden;

    vertical-align: middle;
  }

  .reviews--author-picture img {
    align-items: center;
  }

  .reviews--toggles {
    position: absolute;
    top: calc(100% - 81px);
    left: calc(50% - 89px);

    margin: 0;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #f8f5f2;
  }

  .reviews--prev {
    left: -50px;
  }

  .reviews--next {
    right: -50px;
  }

}

@media (min-width: 1024px) {

  .reviews--write {
    right: -70px;
  }

  .reviews--title {
    margin-bottom: 47px;
  }

  .reviews--wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 33px;

    width: 818px;
  }
  .reviews--item {
    height: min-content;
  }

  .reviews--author-picture {
    flex: 0 0 250px;

    height: 100%;

    margin: 0;

    overflow: hidden;
  }

  .reviews--text {
    padding-top: 33px;
    padding-right: 80px;
    padding-bottom: 36px;
    padding-left: 46px;

  }

  .reviews--author-picture img {
    vertical-align: middle;
  }

  .reviews--prev {
    left: -72px;
  }

  .reviews--next {
    right: -72px;
  }
}


/*-------------------------------------------------------------------------------------------*/
/*------------------------------------BLOCK FOOTER---------------------------------------------*/

.page-footer {
  position: relative;
  background-color: #292929;
}


.page-footer::after {
  content: '';
  padding-top: 11%;


  background: linear-gradient(to right top, #292929 49%, #f8f5f2 51%)left / 50.025% 100% no-repeat,
  linear-gradient(to left top, #292929 49%, #f8f5f2 51%)right / 50.025% 100% no-repeat;

  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}


.page-footer--wrapper {
  display: grid;

  padding-top: 27px;
  padding-bottom: 25px;
}

.page-footer--contacts {
  padding-right: 20px;
  padding-left: 20px;
}

.contacts--title,
.copyright--text {
  display: block;

  margin-bottom: 10px;

  text-align: center;
}

.contacts--text {
  margin: 0;
  text-align: center;
}

.contacts--phone {
  margin-top: 16px;
}

.contacts--phone,
.copyright--link {
  margin-right: auto;
  margin-left: auto;

  color: #ffffff;
  border-color: #3f3f3f;
}


.page-footer--social {
  margin-top: 27px;
  margin-bottom: 30px;
}

.social--title {
  display: none;
}

.social--list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social--item {
  position: relative;
  flex: 1 1 214px;

  height: 101px;

  text-align: center;
}

.social--link--vkontakte::before {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 11px);

  width: 23px;
  height: 26px;
  background-image: url("../img/v.png");
  background-size: cover;

  content: "";
}

.social--link--facebook::before {
  position: absolute;
  top: calc(50% - 19px);
  left: calc(50% - 9px);

  width: 18px;
  height: 39px;
  background-image: url("../img/facebook.png");
  background-size: cover;

  content: "";
}

.social--link--instagram::before {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);

  width: 36px;
  height: 36px;
  background-image: url("../img/inst.png");
  background-size: cover;


  content: "";
}

.contacts--phone-mobile {
  display: none;
}

@media (min-width: 660px) {
  .page-footer::after {
   display: none;
  }

 .page-footer--wrapper {
   grid-template-columns: repeat(3, 1fr);

   padding-top: 50px;
  }

  .page-footer--contacts {
    padding-right: 0;
    padding-left: 0;
  }

  .contacts--title {
    text-transform: uppercase;
  }

  .contacts--title,
  .contacts--text {
    text-align: left;
  }

  .contacts--phone {
    display: inline;

    line-height: 1;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: none;

    border: none;
  }

  .contacts--phone-mobile {
    display: inline;
  }

  .page-footer--social {
    margin-top: 45px;
  }

  .social--item {
    border: 1px solid #3f3f3f;
  }

}

@media (min-width: 660px) and (max-width: 1024px) {
  .page-footer--contacts {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .page-footer--social {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
  }

}

@media (min-width: 1024px) {
  .page-footer--social {
    margin-top: 0;
  }

  .social--list {
    justify-content: center;
  }

  .social--item {
    flex: 0 1 50px;

    height: 52px;
  }

  .social--link {
    display: block;
    width: 50px;
    height: 50px;
  }

  .social--link--vkontakte::before {
    top: calc(50% - 8px);
    left: calc(50% - 7px);

    width: 15px;
    height: 17px;
  }

  .social--link--facebook::before {
    top: calc(50% - 10px);
    left: calc(50% - 5px);

    width: 10px;
    height: 21px;
  }

  .social--link--instagram::before {
    top: calc(50% - 9px);
    left: calc(50% - 9px);

    width: 19px;
    height: 19px;
  }

  .social--item:nth-child(n + 2) {
    margin-left: 7px;
  }

  .copyright--text {
    padding-right: 38px;

    text-align: right;
  }

  .copyright--link {
    margin-left: auto;
    margin-right: 0;
  }



  .copyright--link:hover,
  .copyright--link:focus,
  .social--link:hover,
  .social--link:focus {
    cursor: pointer;
    transition: 0.6s ease;
    box-shadow: 3px 5px 20px rgba(255, 255, 255, 0.5);

  }

  .social--title {
    display: block;

    margin-bottom: 10px;

    text-align: center;
  }

}

/*-------------------------------------------------------------------------------------------*/
/*------------------------------------BLOCK FORM---------------------------------------------*/


@media (max-width: 659px) {
  .content {
    min-width: 280px;
  }
}

@media (min-width: 660px) {
  .content {
    margin-left: auto;
    margin-right: auto;

    max-width: 640px;
  }
}


@media (min-width: 1024px) {
  .content {
    margin-left: auto;
    margin-right: auto;

    max-width: 960px;
  }
}


