@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: 'PT Sans Narrow';
  src: url(../fonts/PTSansNarrow-Regular.ttf)
}
@font-face {
  font-weight: 700;
  font-family: 'PT Sans - Narrow Bold';
  src: url(../fonts/PTSansNarrow-Bold.ttf)
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
a {
  text-decoration: none
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'PT Sans Narrow',sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #000
}
img {
  max-width: 100%;
  height: auto
}
.page-header--wrapper {
  display: -ms-grid;
  display: grid
}
.page-header--logo {
  display: block;
  padding: 15px;
  text-align: center
}
.page-header--logo img {
  width: 250px;
  height: auto
}
.main-nav {
  position: relative;
  min-height: 51px;
  background-color: #826550
}
.main-nav--toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none
}
.main-nav--toggle:active,
.main-nav--toggle:hover {
  background-color: #624530
}
.main-nav--closed .main-nav--toggle::before {
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 8px 0 0 #fff,0 16px 0 0 #fff;
  box-shadow: 0 8px 0 0 #fff,0 16px 0 0 #fff;
  content: ""
}
.main-nav--closed .main-nav--toggle:active::before {
  background-color: rgba(255,255,255,.3);
  -webkit-box-shadow: 0 8px 0 0 rgba(255,255,255,.3),0 16px 0 0 rgba(255,255,255,.3);
  box-shadow: 0 8px 0 0 rgba(255,255,255,.3),0 16px 0 0 rgba(255,255,255,.3)
}
.main-nav--opened .main-nav--toggle {
  top: 0;
  right: auto;
  left: 0
}
.main-nav--opened .main-nav--toggle::after,
.main-nav--opened .main-nav--toggle::before {
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  content: ""
}
.main-nav--opened .main-nav--toggle::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.main-nav--opened .main-nav--toggle::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.main-nav--opened .main-nav--toggle:active::after,
.main-nav--opened .main-nav--toggle:active::before {
  background-color: rgba(255,255,255,.3)
}
.main-nav--list {
  margin: 0;
  padding: 0;
  list-style-type: none
}
.site-list {
  font-weight: 700
}
.site-list--item a {
  display: block;
  padding: 11px 21px 11px 21px;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  font-family: "PT Sans - Narrow Bold",sans-serif;
  text-transform: uppercase;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f
}
.site-list--item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46
}
.site-list--item a[href]:active {
  color: rgba(255,255,255,.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38
}
.user-list--login {
  position: relative;
  display: block;
  padding: 17px 21px 17px 49px;
  line-height: 1;
  color: #fff
}
.user-list--login-icon::before {
  position: absolute;
  top: 18px;
  left: 21px;
  width: 16px;
  height: 16px;
  background-image: url(../img/login.png);
  background-repeat: no-repeat;
  content: ""
}
@media (max-width:660px) {
  .main-nav--closed .site-list--item {
    display: none
  }
  .main-nav--closed .site-list--item--active {
    display: block
  }
  .main-nav--closed .site-list--item--active a {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center
  }
  .main-nav--closed .user-list--item {
    display: none
  }
  .main-nav--opened .site-list--item a {
    -webkit-box-shadow: inset 4px 0 7px -4px #3e251b;
    box-shadow: inset 4px 0 7px -4px #3e251b
  }
  .main-nav--opened .main-nav--wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 260px;
    background-color: #6a4d38
  }
}
@media (min-width:660px) {
  .page-header {
    background-image: url(../img/back-desktop.jpg);
    background-position: center 72px;
    background-repeat: no-repeat;
    background-size: cover
  }
  .main-nav {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    background-color: #000
  }
  .main-nav--wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%
  }
  .main-nav--toggle {
    display: none
  }
  .site-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  .user-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
}
@media (min-width:660px) and (max-width:1023px) {
  .page-header--wrapper {
    grid-gap: 2px
  }
  .page-header--logo {
    padding-top: 0;
    padding-bottom: 255px
  }
  .page-header--logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 40px auto 0 auto
  }
  .main-nav--wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start
  }
  .site-list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 585px;
    -ms-flex: 0 1 585px;
    flex: 0 1 585px
  }
  .user-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 55px;
    -ms-flex: 0 1 55px;
    flex: 0 1 55px
  }
  .site-list--item a {
    padding-top: 21px;
    padding-left: 0;
    padding-bottom: 21px;
    padding-right: 0;
    background: 0 0;
    border: none
  }
  .site-list--item--active a {
    color: #826550;
    -webkit-box-shadow: 0 3px #826550;
    box-shadow: 0 3px #826550
  }
  .site-list--item a[href]:hover {
    color: #826550;
    background-color: #000
  }
  .site-list--item a[href]:active {
    color: #fff;
    background-color: #000;
    opacity: .3
  }
  .user-list--item a {
    padding: 26px 21px 26px 60px
  }
  .user-list--login-icon {
    font-size: 0
  }
  .user-list--login-icon::before {
    top: 29px;
    left: 33px
  }
}
@media (min-width:1024px) {
  .page-header--logo {
    padding-top: 0
  }
  .page-header--logo img {
    width: 370px;
    height: auto
  }
  .page-header--wrapper {
    grid-gap: 55px
  }
  .page-header--logo {
    padding-bottom: 485px
  }
  .main-nav--wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .site-list {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 750px;
    -ms-flex: 0 1 750px;
    flex: 0 1 750px
  }
  .site-list--item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
  }
  .site-list--item a {
    padding-top: 21px;
    padding-left: 0;
    padding-bottom: 21px;
    padding-right: 0;
    text-align: center;
    background: 0 0;
    border: none
  }
  .user-list--item a {
    font-family: "PT Sans - Narrow Bold",sans-serif;
    text-transform: uppercase;
    text-align: center
  }
  .site-list--item a[href]:hover,
  .user-list--item a[href]:hover {
    color: #000;
    background-color: #fff
  }
  .site-list--item a[href]:active,
  .user-list--item a[href]:active {
    color: rgba(0,0,0,.3);
    background-color: #fff
  }
  .user-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 126px;
    -ms-flex: 0 1 126px;
    flex: 0 1 126px
  }
  .user-list--login {
    padding: 27px 21px 27px 49px
  }
  .user-list--login-icon::before {
    top: 28px
  }
  .user-list--login:hover > .user-list--login-icon::before {
    background-image: url(../img/login-desktop-hover.png)
  }
}
.page-main {
  margin: 0;
  background-color: #242424
}
.stats {
  display: -ms-grid;
  display: grid
}
.stats--list {
  display: contents
}
.stats {
  color: #000;
  background-color: #f8f5f2
}
.stats--header {
  padding-top: 30px;
  padding-left: 37px;
  padding-bottom: 30px;
  padding-right: 37px;
  color: #000;
  background-color: #fff
}
.stats--field,
.stats--intro,
.stats--legend,
.stats--slogan,
.stats--value {
  margin: 0;
  padding: 0
}
.stats--slogan {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  line-height: 1;
  font-family: "PT Sans - Narrow Bold",sans-serif;
  text-transform: uppercase;
  text-align: center
}
.stats--intro {
  font-size: 20px;
  text-align: center
}
.stats--legend--top {
  display: none
}
.stats--item:nth-child(1) {
  background-color: #404040
}
.stats--item:nth-child(2) {
  background-color: #4e4e4e
}
.stats--item:nth-child(3) {
  background-color: #353535
}
.stats--item:nth-child(4) {
  background-color: #404040
}
.stats--item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  color: #f7f4f1
}
.stats--value {
  position: relative;
  font-size: 40px;
  line-height: 1;
  font-family: "PT Sans - Narrow Bold",sans-serif
}
.stats--value sup {
  position: absolute;
  right: -.5em;
  font-size: 25px
}
.stats--field {
  text-align: right;
  line-height: 1
}
.stats--legend-wrapper {
  background-color: #242424
}
.stats--legend {
  position: relative;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(255,255,255,.3);
  font-size: 20px;
  text-align: center
}
.stats--legend sup {
  position: absolute;
  top: 15%;
  left: -3%
}
.stats--legend--bottom {
  margin-top: 14px;
  margin-bottom: 14px
}
@media (min-width:660px) {
  .page-main {
    background-color: #353535
  }
  .stats {
    position: relative;
    top: -185px
  }
  .stats {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr)
  }
  .stats--header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 40px
  }
  .stats--header::before {
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-right-color: #fff;
    content: "";
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
  }
  .stats--slogan {
    margin-right: 100px;
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    font-size: 40px;
    line-height: 1;
    text-align: left;
    text-transform: none
  }
  .stats--intro {
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    text-transform: none
  }
  .stats--legend--top {
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 1.5%;
    color: rgba(0,0,0,.3)
  }
  .stats--legend--bottom {
    display: none
  }
  .stats--item {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 40px 30px 40px
  }
  .stats--value {
    -webkit-flex-basis: content;
    -ms-flex-preferred-size: content;
    flex-basis: content;
    font-size: 72px
  }
  .stats--field {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    font-size: 20px;
    line-height: 27px;
    text-align: left
  }
  .stats--field br {
    display: none
  }
  .stats--value sup {
    position: absolute;
    right: -.5em;
    font-size: 35px
  }
}
@media (min-width:660px) and (max-width:1023px) {
  .stats--header {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3
  }
  .stats--intro,
  .stats--slogan {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 205px;
    -ms-flex: 0 1 205px;
    flex: 0 1 205px
  }
}
@media (min-width:1024px) {
  .stats {
    top: -159px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3,1fr)
  }
  .stats--header {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    padding-left: 40px;
    padding-right: 68px
  }
  .stats--slogan {
    margin-right: 0
  }
}
.advantages--wrapper {
  padding-top: 144px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 0
}
.advantages--list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none
}
.slider--toggle--btn {
  display: none
}
.item-1 {
  display: none
}
.item-2 {
  display: none
}
.item-3 {
  display: none
}
#one:checked ~ .item-1 {
  display: block
}
#two:checked ~ .item-2 {
  display: block
}
#three:checked ~ .item-3 {
  display: block
}
.advantages--item {
  position: relative
}
.advantages--title {
  margin: 0;
  padding: 0;
  color: #f7f4f1;
  font-size: 30px;
  font-family: "PT Sans - Narrow Bold",sans-serif;
  text-align: center;
  text-transform: uppercase
}
.advantages--description {
  margin: 0;
  padding-left: 43px;
  padding-right: 43px;
  color: #f7f4f1;
  font-size: 20px;
  line-height: 27px;
  font-family: "PT Sans Narrow",sans-serif;
  text-align: center
}
.advantages--icon--fast::before {
  position: absolute;
  top: -119px;
  left: calc(50% - 47px);
  width: 95px;
  height: 94px;
  background-image: url(../img/advantage-1.png);
  content: ""
}
.advantages--icon--cool::before {
  position: absolute;
  top: -119px;
  left: calc(50% - 47px);
  width: 95px;
  height: 94px;
  background-image: url(../img/advantage-2.png);
  content: ""
}
.advantages--icon--price::before {
  position: absolute;
  top: -119px;
  left: calc(50% - 47px);
  width: 95px;
  height: 94px;
  background-image: url(../img/advantage-3.png);
  content: ""
}
.advantages--toggles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0
}
.advantages--toggles--wrapper {
  position: relative;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: 2px solid #fff
}
.advantages--toggles--wrapper:active,
.advantages--toggles--wrapper:focus {
  background-color: #fff
}
.advantages--toggles--wrapper:nth-child(n+2) {
  margin-left: 35px
}
.delta--background {
  margin-bottom: 11%;
  padding: 3% 2rem 0;
  background-color: #242424;
  position: relative
}
.delta--background::after {
  content: '';
  padding-top: 11%;
  background: -webkit-gradient(linear,left bottom,right top,color-stop(49%,#f8f5f2),color-stop(51%,#242424)) left/50.025% 100% no-repeat,-webkit-gradient(linear,right bottom,left top,color-stop(49%,#f8f5f2),color-stop(51%,#242424)) right/50.025% 100% no-repeat;
  background: -o-linear-gradient(left bottom,#f8f5f2 49%,#242424 51%) left/50.025% 100% no-repeat,-o-linear-gradient(right bottom,#f8f5f2 49%,#242424 51%) right/50.025% 100% no-repeat;
  background: linear-gradient(to right top,#f8f5f2 49%,#242424 51%) left/50.025% 100% no-repeat,linear-gradient(to left top,#f8f5f2 49%,#242424 51%) right/50.025% 100% no-repeat;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0
}
@media (min-width:660px) {
  .advantages--toggles {
    display: none
  }
  .slider--item {
    display: block
  }
  .delta--background {
    margin-bottom: 5%;
    padding: 3% 2rem 0;
    background-color: #353535
  }
  .delta--background::after {
    padding-top: 5%;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(49%,#f8f5f2),color-stop(51%,#353535)) left/50.025% 100% no-repeat,-webkit-gradient(linear,right bottom,left top,color-stop(49%,#f8f5f2),color-stop(51%,#353535)) right/50.025% 100% no-repeat;
    background: -o-linear-gradient(left bottom,#f8f5f2 49%,#353535 51%) left/50.025% 100% no-repeat,-o-linear-gradient(right bottom,#f8f5f2 49%,#353535 51%) right/50.025% 100% no-repeat;
    background: linear-gradient(to right top,#f8f5f2 49%,#353535 51%) left/50.025% 100% no-repeat,linear-gradient(to left top,#f8f5f2 49%,#353535 51%) right/50.025% 100% no-repeat
  }
}
@media (min-width:660px) and (max-width:1023px) {
  .advantages {
    margin-top: -185px
  }
  .advantages--wrapper {
    padding-top: 0;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 0
  }
  .advantages--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .advantages--item {
    padding-top: 35px;
    padding-bottom: 43px;
    padding-left: 125px
  }
  .advantages--item {
    border-bottom: 1px solid rgba(130,101,80,.3)
  }
  .advantages--item:last-child {
    border: none
  }
  .advantages--icon--fast::before {
    top: 47px;
    left: -2px
  }
  .advantages--icon--cool::before {
    top: 46px;
    left: -2px
  }
  .advantages--icon--price::before {
    top: 43px;
    left: -2px
  }
  .advantages--description,
  .advantages--title {
    padding-left: 0;
    padding-right: 0;
    text-align: left
  }
}
@media (min-width:1024px) {
  .advantages {
    margin-top: -105px
  }
  .advantages--wrapper {
    padding-top: 0
  }
  .advantages--item {
    padding-top: 144px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 320px;
    -ms-flex: 1 1 320px;
    flex: 1 1 320px
  }
  .advantages--item {
    border-right: 1px solid rgba(130,101,80,.3)
  }
  .advantages--item:last-child {
    border: none
  }
  .advantages--icon--cool::before,
  .advantages--icon--fast::before,
  .advantages--icon--price::before {
    top: 24px
  }
}
.news {
  padding: 0;
  color: #000;
  border-bottom: 1px solid #e5ddd5;
  background-color: #f8f5f2
}
.news--wrapper {
  position: relative;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px
}
.news--title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans - Narrow Bold",sans-serif;
  text-transform: uppercase;
  text-align: center
}
.news--list {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none
}
.news--item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 11px;
  padding-bottom: 23px
}
.news--item:first-child {
  border-bottom: 1px solid rgba(130,101,80,.3)
}
.news--item:nth-child(n+3) {
  display: none
}
.news--text {
  margin: 0;
  margin-left: 20px
}
.news--date {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 52px;
  -ms-flex: 1 0 52px;
  flex: 1 0 52px;
  margin-top: 12px;
  padding-top: 7px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  line-height: .4;
  text-align: center;
  background-color: #000
}
.news--day {
  font-size: 30px;
  line-height: 1
}
.news--date::after {
  content: '';
  padding-top: 18%;
  background: -webkit-gradient(linear,left bottom,right top,color-stop(44%,#f8f5f2),color-stop(51%,#000)) left/50.025% 100% no-repeat,-webkit-gradient(linear,right bottom,left top,color-stop(44%,#f8f5f2),color-stop(51%,#000)) right/50.025% 100% no-repeat;
  background: -o-linear-gradient(left bottom,#f8f5f2 44%,#000 51%) left/50.025% 100% no-repeat,-o-linear-gradient(right bottom,#f8f5f2 44%,#000 51%) right/50.025% 100% no-repeat;
  background: linear-gradient(to right top,#f8f5f2 44%,#000 51%) left/50.025% 100% no-repeat,linear-gradient(to left top,#f8f5f2 44%,#000 51%) right/50.025% 100% no-repeat;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0
}
.news--to-all {
  margin-right: auto;
  margin-left: auto
}
.button {
  display: block;
  width: 280px;
  height: 50px;
  color: #000;
  font-size: 18px;
  line-height: 50px;
  font-family: "PT Sans - Narrow Bold",sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #e5ddd5
}
@media (min-width:660px) {
  .news--wrapper {
    padding-top: 50px;
    padding-right: 0;
    padding-left: 0
  }
  .news--title {
    margin-bottom: 55px;
    font-size: 40px;
    text-align: left
  }
  .news--list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr)
  }
  .news--item {
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 0
  }
  .news--item:first-child {
    border-bottom: none
  }
  .news--to-all {
    position: absolute;
    top: 42px;
    right: 0
  }
  .button {
    width: 160px
  }
}
@media (min-width:660px) and (max-width:1023px) {
  .news--list {
    grid-gap: 0
  }
}
@media (min-width:1024px) {
  .news--wrapper {
    padding-top: 68px
  }
  .news--list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3,1fr)
  }
  .news--item:nth-child(3) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  .news--to-all {
    top: 60px
  }
  .news--title {
    margin-left: 71px
  }
}
.reviews {
  color: #000;
  background-color: #f8f5f2
}
.reviews--wrapper {
  padding: 20px
}
.reviews--write {
  display: none
}
.reviews--item {
  margin: 0
}
.page-footer {
  background-color: #292929
}
.social--title {
  display: none
}
.page-footer--contacts,
.page-footer--copyright,
.page-footer--social {
  padding: 20px;
  list-style-type: none;
  background-color: #4e4e4e
}
.page-footer--wrapper {
  display: -ms-grid;
  display: grid
}
@media (min-width:660px) {
  .page-footer--wrapper {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3,1fr)
  }
}
@media (min-width:660px) and (max-width:1024px) {
  .page-footer--contacts {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3
  }
  .page-footer--social {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2
  }
}
@media (max-width:659px) {
  .content {
    min-width: 280px
  }
}
@media (min-width:660px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px
  }
}
@media (min-width:1024px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px
  }
}